
div.css-1cunkzb.e10yg2by1{
    position: fixed;
    margin-bottom: 0;
    width: inherit;
    top: 90%;
    height: 9%;
    background-color:white;
    z-index:1;
    padding: 0.55%;
    visibility: visible;
}
[data-testid="stForm"]{
    position: fixed;
    margin-bottom: 0;
    width: inherit;
    top: 90%;
    height: 9%;
    background-color:white;
    z-index:1;
    padding: 0.55%;
    visibility: visible;
}


div.css-si844q.eczjsme1{
    top: 92%;
}
div.css-1kyxreq.e115fcil2{
    margin-left: 16%;
}



div.css-1kyxreq.e115fcil2{
    margin-left:16%;
}

label.st-emotion-cache-ue6h4q.e1y5xkzn3{
    display: NONE;
}

label.st-emotion-cache-ue6h4q.e1y5xkzn3{
    display: NONE;
}


div.css-10oheav.eczjsme4{
    padding:10%
}


div.row-widget.css-k008qs.e10yg2by2{
    margin-top: -6.52%;
    margin-left: 92.7%;
}


div.row-widget.stTextInput.css-1fd1lc7.e11y4ecf0{
    width: 90%;
}


div.st-bd.st-b3.st-bf.st-b8.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-f8.st-b1.st-bq.st-au.st-ax.st-av.st-aw.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bt.st-bu.st-bv.st-bw.st-f9.st-fa{
    width: 82%;
}

div.st-bd.st-b3.st-bf.st-b8.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-dv.st-b1.st-bq.st-au.st-ax.st-av.st-aw.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bs.st-bt.st-bu.st-bv.st-bw.st-dw.st-dx{c
    width: 82%;
}
div.st-be.st-b3.st-bg.st-b8.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-dx.st-b1.st-br.st-au.st-ax.st-av.st-aw.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-bt.st-bu.st-bv.st-bw.st-bx.st-dy.st-dz{
width:100%;
margin-top: 1%;
visibility: visible;
}

div.css-10zg0a4.eczjsme1{
top:91.3%;
left:1%;
visibility: visible;
}


footer.css-1cf1cqr.ea3mdgi1{
display:none;
}

div.stDeployButton{
display:none;
}

div.css-zq5wmm.ezrtsby0{
display: none;
}

[data-testid="stFormSubmitButton"]{
display: none;
}

[data-testid="stMainMenu"]{
display: none;
}

[data-testid="stAppViewBlockContainer"]{
position: relative;
top: -6%;
}

div.row-widget.stCheckbox{
margin-bottom: 18%;
}

div.st-emotion-cache-8atqhb.ea3mdgi4{
margin-top: -16%;
}

div.row-widget.stTextInput.st-emotion-cache-1wfg7wu.e11y4ecf0{
visibility: hidden;
}



div.avatar{
display:None;
}

div.chat .avatar img{
    display: none;
    color: #fff;
}
.chat.user .avatar img{
    display: none;
    color: #fff;
}

img{
background-color: white;
color: white;
}


button[data-testid="baseButton-secondary"]{
    width: inherit;
    margin-top: 0%;
}

[data-baseweb="textarea"]{
height: 45px;
}

div.st-emotion-cache-1f3w014{
height:2rem;
width : 40%;
}

button#btn:hover{
border:1px solid red;
color: red;
}

button#btn:active{
border:1px solid red;
color: red;
}

button#btn{
text-align:left;
overflow-x: scroll;
}
